.layout-module {
  height: 15vh;
  width: 15vh;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(0, 0);
  margin-left: -7.5vh;
  margin-top: -7.5vh;
  text-align: center;
  font-size: 45px;
  transition: all 0.25s;
  overflow: hidden;
  &:not(.layout-module--active) {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 15px 5px #fff;
    }
  }
}

.layout-module--active {
  box-shadow: 0px 0px 15px 5px #fff;
  transform: translate(0, 0);
  z-index: 1;
  animation: open 0.25s 0.25s normal ease-in forwards;
}

.layout-module--closing {
  animation: close 0.25s;
}

.layout-module__content {
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease 0s;
}

.layout-module__content:active {
  opacity: 1;
  visibility: visible;
}

.layout-module__close {
  z-index: 2;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  font-size: 50px;
  line-height: 36px;
  transition: all 0.25s ease 0s;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  cursor: pointer;
}

.layout-module__close:active {
  opacity: 1;
  visibility: visible;
}

.layout-module:not(.layout-module:active) {
  &:nth-of-type(1) {
    transform: translate(61.8034%, 190.2113%);
  }
  &:nth-of-type(2) {
    transform: translate(-161.8034%, 117.55705%);
  }
  &:nth-of-type(3) {
    transform: translate(-161.8034%, -117.55705%);
  }
  &:nth-of-type(4) {
    transform: translate(61.8034%, -190.2113%);
  }
  &:nth-of-type(5) {
    transform: translate(200%, 0%);
  }
}

@for $num from 1 through 5 {
  .layout-module.area-#{$num} {
    background-color: #f22613;
    background-image: url("https://unsplash.it/"+($num*3)+"00?random");
    background-size: cover;
    background-position: center;
  }
}

.layout-module__content {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    background-color: #fff;
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    border: 4px solid #c0c0c0;
    border-radius: 20px;
  }
}

@-moz-keyframes open {
  to {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
  }
}

@-webkit-keyframes open {
  to {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
  }
}

@-o-keyframes open {
  to {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
  }
}

@keyframes open {
  to {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
  }
}

@-moz-keyframes close {
  from {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
  }

  to {
    border-radius: 100%;
    top: 50%;
    left: 50%;
    height: 15vh;
    width: 15vh;
    margin-left: -7.5vh;
    margin-top: -7.5vh;
  }
}

@-webkit-keyframes close {
  from {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
  }

  to {
    border-radius: 100%;
    top: 50%;
    left: 50%;
    height: 15vh;
    width: 15vh;
    margin-left: -7.5vh;
    margin-top: -7.5vh;
  }
}

@-o-keyframes close {
  from {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
  }

  to {
    border-radius: 100%;
    top: 50%;
    left: 50%;
    height: 15vh;
    width: 15vh;
    margin-left: -7.5vh;
    margin-top: -7.5vh;
  }
}

@keyframes close {
  from {
    border-radius: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
  }

  to {
    border-radius: 100%;
    top: 50%;
    left: 50%;
    height: 15vh;
    width: 15vh;
    margin-left: -7.5vh;
    margin-top: -7.5vh;
  }
}
